@model EmsEntities.EmployeeEntities

@Html.AntiForgeryToken()

@Html.HiddenFor(m => m.EId)
<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Birth Date", htmlAttributes: new { @class = "control-label col-md-2" })
    @*@Html.LabelFor(m=>m.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="col-md-10">
        @*@Html.TextBoxFor(model => model.BirthDate, String.Format("{0:d}", Model.BirthDate, new { @class = "datefield", type = "date" }))*@
        @*@Html.TextBox("SelectedDate", "", new { @readonly = "readonly" })//jQuery UI DatePicker (Calendar)*@
        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })@*@value = DateTime.Now, @readonly = "readonly", placeholder="Enter your date of birth"*@
        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger", @id = "error" })
        @*<span id="error" class="text-danger field-validation-valid" data-valmsg-for="DOB" data-valmsg-replace="true">
            Replacement of [@Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger", @id = "error" })] </span>*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentList, "Select Department", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <label class="radio-inline">
            @*@Html.RadioButtonFor(model => model.Gender, true, new { @checked = true })*@
            @Html.RadioButtonFor(model => model.Gender, "1", new { @checked = true })
            Male
        </label>
        <label class="radio-inline">
            @*@Html.RadioButtonFor(model => model.Gender, false)*@
            @Html.RadioButtonFor(model => model.Gender, "2")
            Female
        </label>
        <br>
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.JobType, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.JobType, Model.JobList, "Select MyType", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 checkbox">
        @*<label>@Html.CheckBox("Active")</label>*@
        <label>@Html.CheckBoxFor(m => m.Active)</label>

        @*@Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AddressType, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.AddressType, Model.AddressList, "--Select your address type--", new { @class = "form-control", id = "ddlPartial" })
        @Html.ValidationMessageFor(model => model.AddressType, "", new { @class = "text-danger" })
    </div>
</div>

<div id="partialDiv" class="hide">
</div>