@model IEnumerable<EmsEntities.EmployeeEntities>
@{
    ViewBag.Title = "Employee Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrapDataTablesCss")

@*<head>
    <style>
        table.dataTable tr th.select-checkbox.selected::after {
            content: "✔";
            margin-top: -11px;
            margin-left: -4px;
            text-align: center;
            text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
        }
        h2{
            font-family:'Times New Roman', Times, serif;
            color:blueviolet;
        }
    </style>
</head>*@

<h2>Manage Employee</h2>
<div class="alert alert-success alert-dismissible" style="display:none" id="success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color:red">&times;</a>
    <p style="text-align:center"><strong>Success!</strong> Action performed successfully.</p>
</div>
<div class="alert alert-danger" alert-dismissible" style="display:none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p style="text-align:center"><strong>OOPS!</strong> Action performed unsuccessfully.</p>
</div>
<div class="pull-right">
    @Html.ActionLink("Create New", "Add", "Employee", new { @class = "btn btn-primary" })
    @Html.ActionLink("DeleteAll", "Delete", "Employee", new { @class = "btn btn-info" })
</div>
<br />
<br />
<div id="checkboxes">
    <table class="table table-striped table-bordered" id="tblEmployee" style="width:100%">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkall" class="checkall" />
                </th>
                <th>
                    Name
                </th>
                <th>
                    Department
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Job Type
                </th>
                <th>
                    IsActive
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
    </table>
    @* for display delete values *@
    @*<p><b>Selected rows data:</b></p>
        <pre id="example-console-rows"></pre>

        <p><b>Form data as submitted to the server:</b></p>
        <pre id="example-console-form"></pre>*@
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryDataTable")
        @Scripts.Render("~/bundles/bootbox")
        @Scripts.Render("~/bundles/bootstrapDataTables")
        <script type="text/javascript">
        $(document).ready(function () {
            getEmployees();

            // Grab a reference to the check all box:
            var checkAllBox = $("#checkall");

            //Set the default value of the global checkbox to true: checkAllBox.prop('checked', true);

            // Attach the call to toggleChecked to the
            // click event of the global checkbox:
            checkAllBox.click(function () {
                var status = checkAllBox.prop('checked');
                toggleChecked(status);
            });
        });

        $(document).on('click', '#lnkEditEmployee', function (e) {
            window.location.href = '@Url.Action("Edit", "Employee")?id=' + $(this).data('employee-id');
        })

        $(document).on('click', '#lnkDeleteEmployee', function () {
            var employeeId = $(this).data('employee-id');
            bootbox.confirm("Are you sure to delete record ?", function (result) {
                if (result) {
                    deleteEmployee(employeeId);
                }
            });
        })

        var rows_selected = [];// Array holding selected row IDs
        function getEmployees() {
            $('#tblEmployee').DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "pageLength": 10,
                "destroy": true,
                "ajax": { //ajax:to get or retrieve datas to populate HTML table
                    "url": "/Employee/GetList",
                    "type": "GET",
                    "datatype": "json"
                },
                'select': {
                    'style': 'multi'
                },
                'order': [
                    [1, 'asc']
                ],
                "columns": [ //columns: it tells what columns associated with each bind column
                    {
                        "data": "EId",
                        targets: 0,
                        orderable: false,
                        searchable: false,
                        className: 'text-center',
                        checkboxes: {
                            'selectRow': true
                        },
                        render: function (data, type, full, meta) {
                            return '<input type="checkbox" class="checkbox">';
                        }
                    },
                    { "data": "Name" },
                    { "data": "DepartmentName" },//DepartmentName is declare in EmsEntities
                    { "data": "Salary" },
                    { "data": "Sex" },
                    { "data": "JobName" },//JobName is used for display names on Index page, it's declare in EmsEntities
                    {
                        "data": "Active",
                        orderable: false,
                        className: "text-center",
                        render: function (data, type, row) {
                            if (data === true) {
                                return '<span class="glyphicon glyphicon-ok" style="color:green;text-decoration:none;"></span>';
                            }
                            else
                                return '<span class="glyphicon glyphicon-remove" style="color:red;text-decoration:none;"></span>';
                        }
                    },
                    {
                        data: null,
                        orderable: false,
                        className: "text-center",
                        render: function (data, type, row) {
                            return '<a id="lnkEditEmployee" data-employee-id="' + data.EId + '" href="#" title="Edit Employee" class="glyphicon glyphicon-edit" style="text-decoration:none;"></a>' +
                                '<a id = "lnkDeleteEmployee" data-employee-id="' + data.EId + '" href="#"  title="Delete Employee" class="glyphicon glyphicon-trash" style="padding-left:10px; text-decoration:none;"></a> ';
                        }
                    }
                ],

            });
        }

        function deleteEmployee(employeeId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: employeeId }), //use Id here given in Controller->[public ActionResult Delete(int id)]
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success) {
                        //alert("Success");
                        bootbox.alert('Employee record deleted successfully.');
                        getEmployees();
                    }
                    else {
                        bootbox.alert('Some error occurred while processing your request.');
                    }
                },
                error: function (xhr, status, error) {
                    alert('hi ' + error);
                }
            });
        }

        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                // Set the checked status of each to match the
                // checked status of the check all checkbox:
                $(this).prop("checked", status);
            });
        }
        </script>
    }
