@model IEnumerable<EmsEntities.EmployeeEntities>

@{
    ViewBag.Title = "Employee Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/bootstrapDataTablesCss")

<h2>Manage Employee</h2>
<h3 id="Result"></h3>
<div class="pull-right">
    @Html.ActionLink("Create New", "Add", "Employee", new { @class = "btn btn-primary" })
</div>
<br />
<br />
<table class="table table-striped table-bordered" id="tblEmployee" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Department
            </th>
            <th>
                Salary
            </th>
            <th>
                Gender
            </th>
            <th>
                Job Type
            </th>
            <th>
                IsActive
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryDataTable")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/bootstrapDataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            getEmployees();
        });

        $(document).on('click', '#lnkEditEmployee', function (e) {
            window.location.href = '@Url.Action("Edit", "Employee")?id=' + $(this).data('employee-id');
        })

        $(document).on('click', '#lnkDeleteEmployee', function () {
            var employeeId = $(this).data('employee-id');         
            bootbox.confirm("Are you sure to delete record ?", function (result) {                
                if (result) {                       
                    deleteEmployee(employeeId);                    
                }
            }); 
        })

        function getEmployees() {    
            $('#tblEmployee').DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "pageLength": 10,
                "destroy": true,
                "ajax": { //ajax:to get or retrieve datas to populate HTML table
                    "url": "/Employee/GetList",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [ //columns: it tells what columns associated with each bind column
                    //{ "data": "EId" },
                    { "data": "Name" },
                    { "data": "DepartmentName" },//DepartmentName is declare in EmsEntities
                    { "data": "Salary" },
                    { "data": "Sex" },
                    { "data": "JobName" },//JobName is used for display names on Index page, it's declare in EmsEntities
                    {
                        "data": "Active",
                        orderable: false,
                        className: "text-center",
                        render: function (data, type, row) {
                            if (data === true) {
                                return '<span class="glyphicon glyphicon-ok" style="color:green;text-decoration:none;"></span>';
                            }
                            else
                                return '<span class="glyphicon glyphicon-remove" style="color:red;text-decoration:none;"></span>';
                        }
                    },
                    {
                        data: null,
                        orderable: false,
                        className: "text-center",
                        render: function (data, type, row) {
                            return '<a id="lnkEditEmployee" data-employee-id="' + data.EId + '" href="#" title="Edit Employee" class="glyphicon glyphicon-edit" style="text-decoration:none;"></a>' +
                                '<a id = "lnkDeleteEmployee" data-employee-id="' + data.EId + '" href="#"  title="Delete Employee" class="glyphicon glyphicon-trash" style="padding-left:10px; text-decoration:none;"></a> ';
                        }
                    }
                ],

            });
        }

        function deleteEmployee(employeeId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: employeeId }), //use Id here given in Controller->[public ActionResult Delete(int id)]
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success) {
                        alert("Success");
                        bootbox.alert('Employee record deleted successfully.');
                        getEmployees();
                    }
                    else {
                        bootbox.alert('Some error occurred while processing your request.');
                    }
                },
                error: function (xhr, status, error) {     
                    alert('hi ' + error);
                }
            });
        }
    </script>
}